/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #636363;
}
/* .main{
    max-width: 1200px;
    margin: auto;
} */
.container{
    width: 85%;
    margin: auto;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    color: #262626;
}
.title h1{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
}
.title h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
}
.title h5{
    font-size: 23px;
    font-weight: 600;
    color:#f55f8d;
    padding-bottom: 20px;
}
ul{
    list-style: none;
}
.btn{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 50%, #f55f8d 100%);
    background-size: 200%;
    background-position: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 21px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.7s;
}
.btn:hover{
    background-position: right;
}

/* HEADER */
header{
    position: absolute;
    width: 100%;
    position: fixed;
}
.header__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav ul{
    padding-right: 30px;
}
.header__nav li{
    display: inline-block;
}
.header__nav a{
    text-decoration: none;
    color:black;
    padding: 50px 20px;
    font-size: 15px;
    font-weight: 500;
}
.header__nav span{
    display: inline-block;
    transition: all 1s;
    /* transition này là cho màu hover */
}
.header__nav a:hover{
    color: #dd3e6e;
}
.header__nav a:hover span{
    animation: upToDown 0.5s;
}
.nav-home{
    position: relative;
    display: inline-block;
}
.dropdown-home{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 200px;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.1);
    /* z-index: 1; */
}
.nav-home:hover .dropdown-home{
    display: block;
}
.dropdown-home a{
    display: block;
    padding: 15px;
}
.dropdown-home a::before{
    content: "";
    display: inline-block;
    height: 1px;
    width: 0px;
    margin: 5px;
    background-color: #dd3e6e;
    transition: all 0.7s;
}
.dropdown-home a:hover::before{
    width: 10px;
}

/* CAROUSEL  */
.carousel{
    background-image: url(../image/pic2.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    width: auto;
}
.carousel__content{
    display: flex;
    align-items: center;
    padding-top: 180px;
}
.carousel__text{
    width: 63%;
}
.carousel__img{
    width: 37%;
    position: relative;
}
.carousel__img>img{
    width: 570px;
}
.carousel__text p{
    font-size: 18px;
    padding: 20px 0;
    line-height: 24px;
}
.carousel__text li{
    font-size: 20px;
    padding: 8px 0;
}
.carousel__text ul{
    padding-bottom: 30px;
}
.carousel__text i{
    background: linear-gradient(to right,#f55f8d ,#f8ae56 );
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2.2rem;
    margin-right: 5px;
    border-radius: 50%;
}
.carousel__imgmove{
    width: 100%;
    position: absolute;
    top: 0px;
    left: -120px;
    animation: imgMove 5s infinite;
}

/* SERVICES */
.services{
    background-image: url(../image/bg2.png);
    background-size: 130%;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
}
.services__content{
    display: flex;
    padding: 50px 0;
}
.services__item{
    background-color: white;
    box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    transition: all 2s;
}
.services__item:hover{
    transform: translateY(-20px);
}
.services__item img{
    width: 215px;
}
.services__item h3{
    font-size: 1.5rem;
    color: #262626;
    padding: 15px 0;
}

/* ABOUT */
.about{
    background-image: url(../image/bg15.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.about__content {
    display: flex;
    align-items: center;
}
.about__text{
    width: 50%;
    padding: 0 10px;
}
.about__img{
    width: 50%;
}
.about__inner{
    width: 690px;
    float: right;
    margin: 60px 100px 60px 0;
    position: relative;
}
.about__inner img{
    width: 100%;
    height: auto;
    border-radius: 0 100px 100px 0;
}
.about__inner::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fdf2f6;
    transform: rotate(8deg);
    position: absolute;
    top: 0;
    left: 20px;
    z-index: -1;
    border-radius: 0 100px 100px 0;
}
.about__text p{
    padding: 20px 0;
}
.about__text li{
    padding: 8px 5px 8px 35px;
    position: relative;
}
.about__text i{
    font-size: 24px;
    color: #f55f8d;
    position: absolute;
    top: 7px;
    left: 0;
}
.about__text ul{
    padding-bottom: 30px;
}

/* NUMBER */
.number{
    background-image: url(../image/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fffbf7;
    padding: 80px 0;
}
.number__content{
    display: flex;
    align-items: center;
}
.number__item{
    text-align: center;
    width: 25%;
}
.number__item i{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: linear-gradient(to right,#f55f8d ,#f8ae56 );
    color: white;
    font-size: 45px;
    line-height: 80px;
    border-radius: 50%;
}
.number__item h2{
    color: #f55f8d;
    font-size: 65px;
    padding: 30px 0;
}
.number__item p{
    color: black;
    font-size: 18px;
}
/* FEATURES */
.features {
    background-image: url(../image/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.features__content{
    display: flex;
    align-items: center;
}
.features__text{
    width: 50%;
}
.features__img{
    width: 50%;
}
.features__img img{
    width: 100%;
    animation: imgMove 5s infinite;
}
.features__inner{
    padding-top: 40px;
}
.features__item{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 60px 0px rgb(0,0,0,0.1);
    border-radius: 10px;
    width: 520px;
    padding: 30px;
    margin-bottom: 30px;
    transition: all .5s;
}
.features__item i{
    font-size: 80px;
    color: #f55f8d;
    padding-right: 25px;
    transition: all .5s;
}
.features__item h3{
    font-size: 25px;
    font-weight: 800;
    padding: 10px 0;
    transition: all .5s;
}
.item-between{
    margin-left: 50px;
}
.features__item:hover{
    background: linear-gradient(to right,#f55f8d ,#f8ae56);
    color: white;
}
.features__item:hover h3, .features__item:hover i{
    color: white;
}
/* .features__inner .active {
    background: linear-gradient(to right,#f55f8d ,#f8ae56);
    color: white;
}
.features__inner .active h3, .features__inner .active i{
    color: white;
}  */

/* PORTFOLIO */
.portfolio{
    text-align: center;
    padding: 60px 0;
}
.portfolio__img{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    padding-top: 30px;
}
.item-img-1{
    grid-column: 1/span 2;
}
.item-img-5{
    grid-column: 1/span 2;
}
.item-img-6{
    grid-column: 3/span 1;
    grid-row: 2/span 2;
}
.portfolio__item{
    position: relative;
    margin: 15px;
}
.portfolio__item img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}
.portfolio__overlay{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: all 1s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}
.portfolio__icon{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 50%, #f55f8d 100%);
    background-size: 200%;
    background-position: left;
    color: white;
    font-size: 28px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.7s;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 1s;
}
.portfolio__icon:hover{
    background-position: right;
}
.portfolio__icon a{
    color: white;
}
.portfolio__item:hover .portfolio__icon{
    top: 20px;
    right: 20px;
    opacity: 1;
}
.portfolio__text{
    color: white;
    text-align: left;
    padding: 30px;
    position: absolute;
    bottom: -100%;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.portfolio__text h4{
    color: white;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
}
.portfolio__text p{
    opacity: 0.7;
}
.portfolio__item:hover .portfolio__text{
    bottom: 0;
    opacity: 1;
}
.portfolio__overlay::after{
    content:"";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}
.portfolio__item:hover .portfolio__overlay::after{
    animation: lightMove 0.7s;
}







/* KEYFRAME */
@keyframes upToDown{
    49%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
}
@keyframes imgMove{
    0%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    50%{
        transform: rotate(1deg) translate(2px,2px);
    }
    100%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }
}
@keyframes lightMove{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
